In [4]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.5.1-cp39-cp39-win_amd64.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 20.9 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.2-cp39-cp39-win_amd64.whl (52 kB)
     ---------------------------------------- 52.1/52.1 KB 2.6 MB/s eta 0:00:00
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting packaging>=20.0
  Downloading packaging-21.3-py3-none-any.whl (40 kB)
     ---------------------------------------- 40.8/40.8 KB 1.9 MB/s eta 0:00:00
Collecting fonttools>=4.22.0
  Downloading fonttools-4.29.1-py3-none-any.whl (895 kB)
     ------------------------------------- 895.5/895.5 KB 27.7 MB/s eta 0:00:00
Collecting pyparsing>=2.2.1
  Downloading pyparsing-3.0.7-py3-none-any.whl (98 kB)
     ---------------------------------------- 98.0/98.0 KB 5.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\users\rodrigo\.virtualenvs\02-pattern_analysis_exp-t7xos9dr\lib\site-packages (from matplotlib) (2.8.2)
Collecting pillow>=6.2.0
  Downloading Pillow-9.0.1-cp39-cp39-win_amd64.whl (3.2 MB)
     ---------------------------------------- 3.2/3.2 MB 29.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in c:\users\rodrigo\.virtualenvs\02-pattern_analysis_exp-t7xos9dr\lib\site-packages (from matplotlib) (1.21.4)
Requirement already satisfied: six>=1.5 in c:\users\rodrigo\.virtualenvs\02-pattern_analysis_exp-t7xos9dr\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, packaging, matplotlib
Successfully installed cycler-0.11.0 fonttools-4.29.1 kiwisolver-1.3.2 matplotlib-3.5.1 packaging-21.3 pillow-9.0.1 pyparsing-3.0.7

In [58]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from definitions import *
import os
import matplotlib.pyplot as plot
import math

In [60]:
users = os.listdir(PATTERN_TEST_PATH_SAME_POINT)
print(len(users))

309

In [61]:
result_df = pd.DataFrame()
for i in range(2):
    for j in range(len(emotions_list)):
        tp = "0" + str(i)
        em = "0"+ str(j)
        result_df[em+'-'+tp] = np.zeros(468, dtype=float)

In [59]:
result_df

,00-00,01-00,02-00,03-00,04-00,05-00,06-00,07-00,00-01,01-01,02-01,03-01,04-01,05-01,06-01,07-01
0,0.0,20.058252,21.941748,23.744337,22.527508,43.533981,21.074434,32.469256,16.715210,26.097087,27.184466,28.828479,31.051780,34.592233,24.035599,42.093851
1,0.0,25.987055,27.398058,28.944984,25.705502,28.530744,26.375405,32.239482,19.928803,33.462783,34.097087,33.388350,33.744337,31.676375,29.326861,40.786408
2,0.0,20.000000,21.948220,23.317152,21.673139,27.006472,21.407767,28.656958,16.644013,25.932039,27.190939,27.355987,29.375405,26.647249,24.288026,37.631068
3,0.0,19.886731,20.579288,21.909385,19.812298,21.906149,20.365696,24.870550,15.569579,26.019417,25.559871,25.381877,26.032362,24.194175,23.064725,31.608414
4,0.0,26.411003,27.268608,28.938511,25.605178,28.025890,26.576052,31.741100,19.825243,34.045307,34.200647,33.352751,33.433657,31.504854,29.317152,39.621359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,0.0,10.339806,10.323625,11.420712,11.618123,14.825243,11.090615,16.110032,10.048544,14.255663,13.103560,14.822006,16.145631,14.990291,12.987055,22.346278
464,0.0,10.055016,10.304207,11.407767,11.355987,14.902913,10.896440,15.993528,9.838188,13.886731,13.051780,14.546926,15.961165,14.770227,13.003236,21.608414
465,0.0,10.792880,11.155340,12.210356,11.951456,15.320388,11.705502,16.436893,10.181230,14.611650,14.042071,14.983819,16.682848,15.330097,13.802589,22.122977
466,0.0,11.977346,11.922330,12.692557,12.488673,14.553398,13.352751,17.466019,10.559871,15.964401,14.786408,16.239482,17.472492,16.711974,14.692557,24.187702
467,0.0,11.385113,12.158576,12.708738,13.061489,15.889968,12.983819,19.226537,10.689320,15.469256,14.818770,16.498382,19.330097,17.715210,14.385113,27.132686

In [62]:

for user in tqdm(users):
    arqs = os.listdir(PATTERN_TEST_PATH_SAME_POINT+"/"+user)
    for arq in arqs:
        df = pd.read_csv(PATTERN_TEST_PATH_SAME_POINT+"/"+user+"/"+arq)
        em,tp = arq.split(".")[0].split("_")[0].split("-")
        result_df[em+"-"+tp] = np.array(result_df[em+"-"+tp] + df["distances"]/len(users))

100%|██████████| 309/309 [00:12<00:00, 25.18it/s]

In [19]:
result_df.to_csv("./masks_average_dists.csv")

In [18]:
for col in result_df:
    y=result_df[col]
    x=np.arange(468)

    plot.bar(x, y)
    plot.suptitle('Average values of distance to neutral face of ' + col)

    plot.savefig('./figs/'+col+'.png',dpi=400)
    plot.clf()

In [65]:
for col in result_df:
    std = np.sqrt((result_df[col] - result_df[col].mean())**2).mean()
    print(col,result_df[col].mean(),std)

00-00 0.0 0.0
01-00 16.06929577075209 3.6101085758271885
02-00 16.654731280944883 3.781447958238267
03-00 17.782825768262672 4.134396585168305
04-00 16.75139684120267 3.3110272261691227
05-00 30.788710480458057 14.075421711997516
06-00 16.05686250103727 3.341118355961523
07-00 23.507869333112055 4.572137858545625
00-01 13.415587918015111 2.380194359158762
01-01 20.88430420711975 4.535322103283267
02-01 20.66895555002352 4.778026542465179
03-01 22.628232788426974 5.240422766395714
04-01 23.50792465355573 4.429987723116927
05-01 28.857141869277797 11.130059131407567
06-01 18.597384726025513 3.827394719167189
07-01 30.298453793599425 5.692787136152831

In [66]:
points_above_average = []
for col in result_df:
    points_list = []
    for i in range(468):
        if(result_df[col][i]>result_df[col].mean()):
            points_list.append(i)
    print(len(points_list))
    points_above_average.append(points_list)

0
217
236
231
225
161
207
234
232
212
222
242
228
182
222
240

In [67]:
points_in_all_lists = []
for i in range(0,len(points_above_average)-1):
    if(points_in_all_lists == [] or points_in_all_lists == set()):
        points_in_all_lists = set(points_above_average[i]).intersection(points_above_average[i+1])
    else:
        points_in_all_lists =points_in_all_lists.intersection(points_above_average[i+1])
    print(len(points_in_all_lists))

0
200
197
196
103
99
92
92
85
85
85
82
77
77
77

In [68]:
points_in_all_lists

{0,
 11,
 12,
 13,
 37,
 38,
 39,
 40,
 41,
 42,
 58,
 64,
 72,
 73,
 74,
 75,
 81,
 82,
 98,
 132,
 135,
 138,
 147,
 167,
 169,
 172,
 177,
 178,
 179,
 180,
 181,
 192,
 213,
 215,
 219,
 235,
 240,
 267,
 268,
 269,
 270,
 271,
 272,
 278,
 288,
 289,
 294,
 302,
 303,
 304,
 305,
 310,
 311,
 312,
 322,
 327,
 361,
 364,
 367,
 376,
 391,
 393,
 401,
 402,
 403,
 404,
 405,
 407,
 408,
 409,
 415,
 416,
 433,
 435,
 439,
 455,
 460}

In [69]:
points_df = pd.DataFrame()
points_df["points_above_average"] = np.array(list(points_in_all_lists))

In [70]:
points_df

    points_above_average
0                      0
1                     11
2                     12
3                     13
4                     37
..                   ...
72                   433
73                   435
74                   439
75                   455
76                   460

[77 rows x 1 columns]

In [71]:
points_df.to_csv("./points_above_average.csv")

In [46]:
!pip install opencv-python

Collecting opencv-python
  Downloading opencv_python-4.5.5.62-cp36-abi3-win_amd64.whl (35.4 MB)
     --------------------------------------- 35.4/35.4 MB 19.8 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.5 in c:\users\rodrigo\.virtualenvs\02-pattern_analysis_exp-t7xos9dr\lib\site-packages (from opencv-python) (1.21.4)
Installing collected packages: opencv-python
Successfully installed opencv-python-4.5.5.62

In [76]:
from triangles import TRIANGLES
import cv2
points_mask_df = pd.read_csv(PROCESSED_PATH+'/00/00/00001/mean-lms-00001.csv')
image = np.zeros(
        (int(final_image_size_height), int(final_image_size_width), 3), dtype=float)
x = (points_mask_df["x"]).tolist()
y = (points_mask_df["y"]).tolist()
lms = []
for i in range(len(x)):
    lms.append([int(x[i]), int(y[i])])
for tria in TRIANGLES:
    image = cv2.line(image, lms[tria[0]],
                        lms[tria[1]], (255, 255, 255), 1)
    image = cv2.line(image, lms[tria[0]],
                        lms[tria[2]], (255, 255, 255), 1)
    image = cv2.line(image, lms[tria[1]],
                        lms[tria[2]], (255, 255, 255), 1)
for p in points_df["points_above_average"].tolist():
    image = cv2.circle(image, (lms[p]), radius=5, color=(0, 0, 255), thickness=-1)
    #cv2.putText(image, '.', (lms[p]), cv2.FONT_HERSHEY_PLAIN, 1, (0, 0, 255), 2)      
cv2.imwrite("./points_img.png", image)

True